.header
{
background-color: wheat;
    height: 100px;
    padding: 4px;
    width: 100%;
}
.inner-box{
width;100%;
float:left;
}

.left{
width:50%;
padding: 25px 170px;
float:left;
}
.right{
width:50%;
padding:25px;
float:left;
}
.image{
float:right;
padding:50px;
}