@charset "UTF-8";
/* CSS Document */
.load_page{ display:none;}
.trans {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.header
{
background-color: white;
    height: 51px;
    padding: 0;
}
.logo{
float: left;
    height: 94px;
    padding: 12px;
    width: 15%;
}
.logo img{
height: 72px;
padding: 0;
width: 186px;
}

.nav{
padding: 30px 40px;
    width: 85%
}
.nav ul{
color: green;
float: left;
list-style: outside none none;
margin: -12px;
padding: 0 231px;
position: relative;
width: 90%;
float:left;
}
.nav ul li {
float: left;
text-decoration:none;

}
.nav ul li a{
color: green;
float: left;
padding: 10px 14px;
text-decoration: none;

}
.nav ul li a:hover{
color: blue;
}
.nav ul li:hover ul
{
display:block !important;
background-color: white;
}
.nav ul li ul
{
margin: 0;
padding: 0;
position: absolute;
top: 40px;
width: 110px;
z-index: 99999;
}

.nav ul li ul li{
margin:0px;
float: none;
width: 100%;
color:yellow;
}
.nav ul li ul li a
{
float:none;
display:block;
}
.nav ul li ul li:hover{
background-color: #white;
}

*, *:after, *:before
{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cl_full_nav #logo { max-width:80px; max-height:80px; margin:0 auto;margin-bottom: 60px;}
.cl_full_nav #logo img{ max-width:100%;}
article section
{
	padding:70px 0 50px 0;
}
article section::after
{
	content:"";
	clear:both;
	display:block;
}
.h_banner{
	padding:0;
overflow: hidden;
  position: relative;
  }
.h_banner_bg_p{ 
/*overflow:hidden;*/
height: 100%;
padding:0;
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 0;
  }
.h_banner_bg
{
	background: url('http://click-labs.com/wp-content/uploads/2015/07/BG.jpg') center center no-repeat; height:100%; width: 100%; 
	webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.h_banner .col-full{ height:100%;}
.h_banner_shdw
{
  /*background: rgba(0,0,0,0.2);*/
  width: 100%;
  height: 100%;
}
.banner_table
{
	display: table;
  padding: 30px 0;
  width: 100%;
  height: 100%;
}
.banner_tableCell
{
	display: table-cell;
  vertical-align: middle;
}
.banner_tableCell_btm
{
	vertical-align:bottom;display: table-row-group;
}
.banner_tableCell_btm p
{
	color:#FFF;text-align: center;margin-bottom: 0; cursor:pointer;
}
.banner_tableCell_btm p div{transform: rotate(90deg);
  display: inline-block;
  margin-left: 6px;
  }
.jg_banner_gitbtn {
  margin-top: 60px;
  text-align:center;
}
.jg_c_popup {
	/*font-family: 'latoregular';*/
 background: #fff;
  font-weight: 600;
  color: #79A76B;
  padding: 14px 25px;
  border-radius: 3px;
  border: 1px solid #FFF;
  outline: 0;
  font-size: 17px;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.h_banner h1{ color:#FFF; text-align:center;
font-size: 52px;
text-shadow: 1px 1px 4px #666;
font-weight:bold;
}
.h_banner h1 span{ display:block;}
.h_banner h5{color:#FFF; text-align:center;font-size: 26px;
  line-height: 36px;
  }


<!--Navigation Style-->

.cl_top_bar .pusher {
 
}
.cl_top_bar{
	/*background-color: #FFF;*/
  height: 60px;
  width: 100%;
  /*position: fixed;*/
  position:absolute;
  right: 0;
  z-index: 11;
  }

.pusher span {
  width: 35px;
  height: 3px;
  display: block;
  background: #FFF;
  margin: 0 0 6px 0;
}

.pusher {
  width: 40px;
  height: 22px;
  padding: 11px;
  /*background-color: rgba(0, 0, 0, 0.8);*/
  display: block;
  position: relative;
  z-index: 100000;
  cursor:pointer;
  
  float: right;
  margin: 8px 2% 0 0;
}

.pusher span:last-child { margin: 0; }

.pusher.click span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 10px 0 0 0;
}

.pusher.click span:nth-of-type(2) { opacity: 0; }

.pusher.click span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: -12px 0 0 0;
}

/*.open {  //background-color:rgba(0, 0, 0, 0.8);
}*/

.floating {
 /* position: fixed;
  top: 0;*/
}

.cl_full_nav {
	background-color: #24362e;
    opacity: 0.98;
	
  backface-visibility: hidden;
  left: 0;
  overflow: hidden;
  padding-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  display: block;
  
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.cl_full_nav .bg-cover {
  z-index: 1500;
  /*position: absolute;*/
  top: 0px;
  width: 100%;
  height: 100%;
  display: table;
}

.cl_full_nav .menupuncher {
  /*visibility: hidden;*/
  top: -10%;
  width: 100%;
  padding: 0;
  /*opacity: 0;*/
  display: table-cell !important;
  vertical-align: middle;
}

.cl_full_nav .menupuncher li {
  list-style: none;
  text-align: center
}

.cl_full_nav .menupuncher li a {
  padding: 0px;
  width: 100%;
  display: block;
  letter-spacing: 0;
  color: #989F9C;
 text-decoration: none;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
}

.cl_full_nav .menupuncher li a:hover {
  opacity: 1;
}

.cl_full_nav .menupuncher li a:focus { outline: 0 }

.cl_full_nav.open { height: 100% }

.cl_full_nav.open ul {
  visibility: visible;
  opacity: 1;
}

/*Full Page Menu Design*/
.cl_full_nav ul#main-nav{
	width: 100%;
	margin: 0 auto;
    text-align: center;
  }
.cl_full_nav #main-nav li{}
.cl_full_nav #main-nav li a{
	display: inline-block !important;
  width: auto;
  margin-bottom: 24px;
  }
.cl_full_nav #main-nav li a:hover{color:#FFF;}
.cl_full_nav #main-nav li a::after
{
	content: "";
    display: block;
    border-bottom: 1px solid;
    width: 45px;
    margin: 0 auto;
    margin-top: 18px;
}
.cl_full_nav #main-nav li:last-child a::after
{
	content: "";
  display: block;
  border-bottom:0;
}
.cl_full_nav #main-nav li.current_page_item a
{
	color:#FFF;
	font-weight:bold;
}

.fixed_nav
{
}
.fixed_nav .cl_top_bar{ display:none;}
.cl_fixed_nav #menu{ display:block !important; }
.cl_fixed_nav, .home .cl_fixed_nav{ 
display:block !important;
height: 65px;
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    /*background: #ffffff;*/
    z-index: 10;
	
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.bg_white{ background:#FFFFFF; }
.box_shw{
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
	}
.cl_fixed_nav #logo
{
	width: 170px;
    display: inline-block;
    float: left;
	margin-top: 6px;
}

nav.cl_fixed_nav .col-full, nav.cl_full_nav .col-full{ height:100%;}
.cl_fixed_nav #main-nav{
	float: right;
    clear: none;
    margin: 12px 0 0;
	
	/* -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;*/
	}
.cl_fixed_nav ul.nav li{ float:left;}
.cl_fixed_nav ul.nav li a{ font-weight:bold;}

.fixed_nav_height_div{
	height: 43px;
    width: 100%;
	}

@media only screen and (min-width: 768px){

.main_nav_desktop{ display:block !important; }
	
.fixed_nav_height_div{
	height: 43px;
}
.page-id-80 .fixed_nav_height_div, .page-id-86 .fixed_nav_height_div, .page-id-42 .fixed_nav_height_div, .page-id-16 .fixed_nav_height_div{
 display: none;
}
.home .cl_H_fixed_nav #logo, .page-id-80 .cl_H_fixed_nav #logo, .page-id-86 .cl_H_fixed_nav #logo, .page-id-42 .cl_H_fixed_nav #logo, .page-id-16 .cl_H_fixed_nav #logo{ display:none;}	
.home .cl_H_fixed_nav, .page-id-80 .cl_H_fixed_nav, .page-id-86 .cl_H_fixed_nav, .page-id-42 .cl_H_fixed_nav, .page-id-16 .cl_H_fixed_nav{
	position:absolute;
	background:none !important;
	box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
	}
	
.home .cl_H_fixed_nav #main-nav, .page-id-80 .cl_H_fixed_nav #main-nav, .page-id-86 .cl_H_fixed_nav #main-nav, .page-id-42 .cl_H_fixed_nav #main-nav, .page-id-16 .cl_H_fixed_nav #main-nav{ margin-top:25px;}

.home .cl_H_fixed_nav ul.nav li, .page-id-80 .cl_H_fixed_nav ul.nav li, .page-id-86 .cl_H_fixed_nav ul.nav li, .page-id-42 .cl_H_fixed_nav ul.nav li, .page-id-16 .cl_H_fixed_nav ul.nav li
{
	margin-left: 28px;
}
.home .cl_H_fixed_nav ul.nav li.jg_nav_cta_btn, .page-id-80 .cl_H_fixed_nav ul.nav li.jg_nav_cta_btn, .page-id-86 .cl_H_fixed_nav ul.nav li.jg_nav_cta_btn, .page-id-42 .cl_H_fixed_nav ul.nav li.jg_nav_cta_btn, .page-id-16 .cl_H_fixed_nav ul.nav li.jg_nav_cta_btn
{
	display:none;
}
.home .cl_H_fixed_nav ul.nav li a, .page-id-80 .cl_H_fixed_nav ul.nav li a, .page-id-86 .cl_H_fixed_nav ul.nav li a, .page-id-42 .cl_H_fixed_nav ul.nav li a, .page-id-16 .cl_H_fixed_nav ul.nav li a
{
	color:#FFF;
	padding: 2px !important;
}
.home .cl_H_fixed_nav ul.nav li a:hover, .page-id-80 .cl_H_fixed_nav ul.nav li a:hover, .page-id-86 .cl_H_fixed_nav ul.nav li a:hover, .page-id-42 .cl_H_fixed_nav ul.nav li a:hover, .page-id-16 .cl_H_fixed_nav ul.nav li a:hover
{
	text-decoration: none !important;
    border-bottom: 1px solid #FFF !important;
}

}

.selected_menu a{ color:#40B9BC !important;}

.jg_nav_cta_btn a {
    cursor: pointer;
    font-size: 16px !important;
    background: #F86759 !important;
    color: #FFF !important;
    border-radius: 5px !important;
    padding: 7px 20px !important;
    margin-top: 2px;
    text-align: center;
    text-decoration: none !important;
    transition: All .5s ease;
    -webkit-transition: All .5s ease;
    -moz-transition: All .5s ease;
    -o-transition: All .5s ease;
}
.page-template-thank-you .jg_nav_cta_btn{display:none;}


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
/*.cl_full_nav .menupuncher li a { font-size: 28.5714px !important; }*/
}

/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
/*.cl_full_nav .menupuncher li a { font-size: 28.5714px !important; }*/
}

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
}

<!-- /// Navigation Style-->

/*Zoom Effect of home banner*/

/* Chrome, Safari, Opera */
@-webkit-keyframes zoom {
    from {
    	-webkit-transform: scale(1,1);
    }
    to {
    	-webkit-transform: scale(1.5,1.5);
    }
}

/* Standard syntax */
@keyframes zoom {
   from {
        transform: scale(1,1);
   }
   to {
        transform: scale(1.5,1.5);
   }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes zoominout {
               0%{
                   -webkit-transform:scale(1)
                }
              25%{
                   -webkit-transform:scale(1.2)
                }
              50%{
                   -webkit-transform:scale(1.5)
                }
              75%{
                   -webkit-transform:scale(1.2)
                }
              100%{
                   -webkit-transform:scale(1)
                }
}
@keyframes zoominout{
              0%{
                   transform:scale(1)
                }
              25%{
                   transform:scale(1.2)
                }
              50%{
                   transform:scale(1.5)
                }
              75%{
                   transform:scale(1.2)
                }
              100%{
                   transform:scale(1)
                }
            }
			
.h_banner_bg_zoominout {
    animation : 50s linear 1s normal none infinite zoominout;
}


.cl_h_sec1 h4 span, .cl_h_sec5 h5 span{ display:block;}
.cl_h_sec1 p{
	margin: 40px 0;
	text-align:center;
	}
.btn_large	{
		text-align: center;
  margin: 50px 0;
  }
.cl_h_sec1 p a, .btn_large a{
	text-align: center;
  border: 1px solid #F86759;
  color: #F86759;
  padding: 12px 80px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: 'latoregular';
  }
  .cl_h_sec2
  {
	  padding-top:0;
	  padding-bottom:0;
  }
  .cl_h_sec2 .col3One
  {
	  width:33.333%;
	  float:left;
	  position: relative;
  overflow: hidden;
  margin:0;
  }
  .cl_h_sec2 .col3One img{ 
  width:100%;
  opacity: 1 !important;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  }
  .cl_h_sec2 .col3One img:hover, .cl_h_sec2 .col3One:hover img{
	  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  }
  .txw_home_grid_shw {
	  background:rgba(0,0,0,0.2);
background: -moz-linear-gradient(to bottom, transparent 0%, transparent 50%, transparent 51%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(to bottom, transparent 0%, transparent 50%, transparent 51%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(to bottom, transparent 0%, transparent 50%, transparent 51%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(to bottom, transparent 0%, transparent 50%, transparent 51%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(to bottom, transparent 0%, transparent 50%, transparent 51%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, transparent 0%, transparent 50%, transparent 51%, rgba(0,0,0,1) 100%);

background: linear-gradient(to bottom, transparent 0%, transparent 39%, rgba(0,0,0,0.7) 68%, rgba(0,0,0,1) 100%);

  position: absolute;
  width: 100%;
  height: 100%;
 
  display: table-cell;
  vertical-align: middle;
  color: #FFF;
  overflow: hidden;
  z-index: 1;
}
.txw_home_grid_shw span {
  font-family: 'latoregular';
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  width: 100%;
  /* height: 100%; */
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.txw_home_grid_shw p
{
	font-family: 'latoregular';
}
.txw_home_grid_shw .cl_h_sec2_readM{
	opacity:0;
	color: #F86759;
  margin-top: -22px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  
   -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  }
  .txw_home_grid_shw:hover .cl_h_sec2_readM{ opacity:1;}

.txw_home_grid_cnt
{
	/*position:absolute;
	top:60%;*/
	/*width:100%;*/
	padding: 30px;
	display:table;
	height:100%;
}
.txw_home_grid_cnt div{
	display: table-cell;
    vertical-align: bottom;
}
.txw_home_grid_cnt h5{color: #FFF;
  font-weight: 700;
  }
  
 .cl_h_sec3
 {
 }

 section.cl_h_sec7 h3 {
    color: #1e1e1e;
    text-align: center;
    font-weight: 100;
    font-size: 42px;
    line-height: 60px;
}
section.cl_h_sec7 h3 span{
  display: block;
}
.jg_bottom_cta{
  background: #fff;
  border: 1px solid #F86759;
    color: #F86759;
    padding: 12px 30px;
    border-radius: 3px;
    outline: 0;
    font-size: 25px;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.jg_bottom_gitbtn {
  margin: 40px auto;
  text-align:center;
}
.jg_bottom_cta:hover {
    text-decoration: none;
    color: #fff;
    background: #F86759;
    /*background: rgba(248,103,89,0.1);*/
    
}
.j_h_products_sec
{
	height:400px;
	width: 100%;
  overflow: hidden;
  position: relative;
  margin-top:50px;
}
.j_h_products_sec .j_h_products_slider
{ width:100%; }
.j_h_products_sec::after
{
	content:"";
	clear:both;
	display:block;
}
.j_h_products_slider
{
	height: 400px;
	position:absolute;
	transition:none;
}
.j_h_products_slider::after
{
	content:"";
	display:block;
	clear:both;
}
.j_h_products_slider_l
{
	background-size:cover !important;
	width: 50%;
  height: 100%;
  float:left;
}
.j_h_products_slider_l img
{
}
.j_h_products_slider_r
{
	display: inline-block;
  width: 50%;
  background-color: #FFF;
  height: 100%;
  vertical-align: top;
  float: left;
}
.j_h_products_slider_r article
{
padding: 40px;
}
.j_h_products_slider_r h3
{
	font-family: 'latoregular';
}
.j_h_products_slider_r p
{
	font-size: 20px;
}
.j_h_products_slider_r .j_h_p_s_btn
{
}
.j_h_products_slider_r .j_h_p_s_btn a
{
	  color: #F86759;
  text-transform: uppercase;
  padding: 10px 18px;
  border: 1px solid #F86759;
  font-family: 'latoregular';
  font-size: 13px;
  letter-spacing: 1px;
  
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.j_h_products_slider_r .j_h_p_s_btn a:hover
{
	zoom: 1.02;
}
.j_h_p_s_NP_btn
{
	width: 50.001%;
	height: 60px;
  float: right;
    margin-top: -60px;
	position: relative;
}
.j_h_p_s_NP_btn .j_h_p_s_Prev, .j_h_p_s_NP_btn .j_h_p_s_Next
{
	width: 50%;
  display: inline-block;
  height: 100%;
  color: #FFF;
  font-size: 24px;
  font-weight: 100;
  cursor: pointer;
}
.j_h_p_s_NP_btn .j_h_p_s_Prev:hover, .j_h_p_s_NP_btn .j_h_p_s_Next:hover
{
	opacity:0.8;
}
.j_h_p_s_NP_btn .j_h_p_s_Prev
{ 
background-color:#F86759;
}
.j_h_p_s_NP_btn .j_h_p_s_Prev div, .j_h_p_s_NP_btn .j_h_p_s_Next div
{
	width: 20px;
  height: 20px;
  margin: 0 auto;
  margin-top: 21px;
  text-align:center;
}
.j_h_p_s_NP_btn .j_h_p_s_Prev div
{
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.j_h_p_s_NP_btn .j_h_p_s_Next{background-color: #F86759;border-left: 1px solid #FFF;}
.j_h_p_s_NP_btn .j_h_p_s_Next div
{
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.j_h_p_s_NP_btn .j_h_p_s_NP_inactive
{ 
background-color:#FF7A6D;
opacity: 1 !important;
  pointer-events: none;
}

.j_clients_testi_msg
{
	margin: 32px 16px;
}
.j_clients_testi_msg ul
{
	list-style: none;
  position: relative;
  width: 70%;
  margin: 0 auto;
  font-style: italic;
}
.j_clients_testi_msg ul::after
{
	content:"";
	clear:both;
	display:block;
}
.j_clients_testi_msg li
{
	text-align: center;
  position: absolute;
  font-size: 20px;
  line-height: 35px;
  display:none;
}
.j_clients_testi_msg li::before
{
	content:'"';
	
}
.j_clients_testi_msg li::after
{
	content:'"';
}
li.j_clients_testi_msg_active{ }
/*.testi_Table
{
	height: 100%;
  width: 100%;
  display: table;
 }
 .testi_TableCell
 {
	 display: table-cell;
  vertical-align: middle;
}
.testi_TableCell img
{
	display:block;
	margin:0 auto;
}*/

.j_clients_testi_img
{
}
.j_clients_testi_img ul
{
	list-style: none;
}
.j_clients_testi_img li
{
	  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33%;
  height: 170px;
  overflow: hidden;
  margin: 0 0 10px;
  padding: 0 5px;
  float: left;
  position: relative;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.j_clients_testi_img li::before{
	content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  right: 5px;
  background: #f2f2f2;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

li.j_clients_testi_tab_active{ pointer-events: none; }
.j_clients_testi_img li:hover:before, .j_clients_testi_img li.j_clients_testi_tab_active:before{opacity:0}
.j_clients_testi_img li:hover i, .j_clients_testi_img li.j_clients_testi_tab_active i{opacity:0;-webkit-transform:translateY(100%);
	-moz-transform:translateY(100%);-o-transform:translateY(100%);
	-ms-transform:translateY(100%);transform:translateY(100%)}
.j_clients_testi_img li:hover .j_testi_author, .j_clients_testi_img li.j_clients_testi_tab_active .j_testi_author{opacity:1;-webkit-transform:translateY(0);
		-moz-transform:translateY(0);-o-transform:translateY(0);
		-ms-transform:translateY(0);transform:translateY(0)}
		
.j_clients_testi_img i
{
	display: block;
  position: absolute;
  /*top: 38%;*/
  top: 32%;
  right: 5px;
  bottom: 0;
  left: 5px;
  background: no-repeat center center;
  text-align: center;
  -webkit-transition: .35s;
  -moz-transition: .35s;
  -o-transition: .35s;
  transition: .35s;
}
.j_clients_testi_img i img
{
}
.j_clients_testi_img blockquote
{
}
.j_clients_testi_img .j_testi_author
{
	display: table;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 5px;
  text-align: center;
  line-height: 1.4;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: .35s;
  -moz-transition: .35s;
  -o-transition: .35s;
  transition: .35s;
}
.j_clients_testi_img .j_testi_author img
{
	width: 80px;
  margin-top: 4%;
  margin-bottom: 8px;
}
.j_clients_testi_img .j_testi_author p
{
	color: #414141;
  font-size: 18px;
  font-weight: bold;
  font-family: 'latoregular';
  margin-bottom: 0;
}
.j_clients_testi_img .j_testi_author p span
{
	display: block;
  font-size: 16px;
  font-weight: 100;
  color: #666;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  Homepage Work Sec   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.cl_h_sec5
{
}
.cl_h_sec5 h3
{
}

@media (max-width: 800px){
.cl_h_sec5 .work-list {
 
}}
@media (max-width: 1024px){
.cl_h_sec5 .work-list {
  
}}
.cl_h_sec5 .work-list {
  width: 101%;
  padding: 0;
  background: #000;
  list-style: none;
  text-indent: -9000px;
  font-size: 0;
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -o-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}
@media (max-width: 800px){
.cl_h_sec5 .work-list li {
  width: 25%;
  height: 120px;
}
}
.cl_h_sec5 .work-list li {
  width: 16.666%;
  height: 150px;
  float: left;
  cursor:pointer;
}

.cl_h_sec5 .work-list a {
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-tap-highlight-color: rgba(254,97,89,.8);
  background: url(http://click-labs.com/wp-content/uploads/2015/08/Footer-Image.jpg);
}


/*a {
  text-decoration: none;
  color: #fe6159;
  -webkit-transition: .15s;
  -moz-transition: .15s;
  -o-transition: .15s;
  transition: .15s;
}
a {
  background: 0 0;
}*/

.cl_h_sec5 .work-list .bg1 {
	-webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(#greyscale);
  filter: gray;
  
  background: no-repeat center center;
  background-size: cover;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.cl_h_sec5 .work-list .bg1, .cl_h_sec5 .work-list .bg2, .cl_h_sec5 .work-list .i1, .cl_h_sec5 .work-list .i2, .cl_h_sec5 .work-list .i1:after, .cl_h_sec5 .work-list .i2:after {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: .35s;
  -moz-transition: .35s;
  -o-transition: .35s;
  transition: .35s;
}


.cl_h_sec5 .work-list .bg1:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.8);
}

.cl_h_sec5 .work-list .bg2 {
  opacity: 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top,#8cc044 0,#28b8d2 100%);
  background-image: -moz-linear-gradient(top,#8cc044 0,#28b8d2 100%);
  background-image: -o-linear-gradient(top,#8cc044 0,#28b8d2 100%);
  background-image: linear-gradient(to bottom,#8cc044 0,#28b8d2 100%);
}
.cl_h_sec5 .work-list .i1:after, .cl_h_sec5 .work-list .i2:after {
  content: "";
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.cl_h_sec5 .work-list .i2 {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
 .cl_h_sec5 .work-list a:hover .bg1
{
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
  transform:scale(1)
}
 .cl_h_sec5 .work-list a:hover .bg2{
  opacity:.8
}
 .cl_h_sec5 .work-list a:hover .i1
  {
    opacity:0;
    -webkit-transform:translateY(100%);
    -moz-transform:translateY(100%);
    -o-transform:translateY(100%);
    -ms-transform:translateY(100%);
    transform:translateY(100%)
    }
    .cl_h_sec5 .work-list a:hover .i2
    {
      opacity:1;
      -webkit-transform:translateY(0);
      -moz-transform:translateY(0);
      -o-transform:translateY(0);
      -ms-transform:translateY(0);
      transform:translateY(0)
    }

.cl_h_sec5 .work-list .i1 svg, .cl_h_sec5 .work-list .i2 svg, .cl_h_sec5 .work-list .i1 img, .cl_h_sec5 .work-list .i2 img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  fill: #fff;
  -webkit-transition: fill .15s;
  -moz-transition: fill .15s;
  -o-transition: fill .15s;
  transition: fill .15s;
}
img {
  border: 0;
}

.cl_h_sec5_popup
{
	background:#FFF;
	z-index:11000 !important;
	left:0 !important;
}
.cl_h_sec5_popup_inner
{
}
.cl_h_sec5_popup_close
{
	font-size: 45px;
    font-weight: bold;
    display: inline-block;
    padding: 7px 2px 1px;
    line-height: 32px;
    color: #000;
    cursor: pointer;
    float: right;
    margin-top: -32px;
    margin-right: -20px;
    height: 35px;
    width: 35px;
    text-align: center;
    position: absolute;
    right: 40px;
    top: 40px;
}


/*// PopUp Slider CSS*/

.cl_h_sec5_slider div {
       color: #FFF;
    font-size: 20px;
    line-height: 28px;
}

.cl_h_sec5_slider div.a {
    background: red;
}

.cl_h_sec5_slider div.b {
    background: green;
}

.cl_h_sec5_slider div.c {
    background: blue;
}

.cl_h_sec5_slider div.d {
    background: black;
    color: #fff;
}

.cl_h_sec5_slider div.e {
    background: pink;
}
.cl_h_sec5_slider .slide_deiv{ width:100% ; }

.cl_h_sec5_slider {
    border: none;
}


.sec5_slider_nav
{
	margin-left: 2%;
    margin-bottom: 15px;
    margin-top: 2px;
    padding-top: 0px;
 }
#go-left, #go-right
{
	border: none;
    background: none;
    font-size: 34px;
	outline:0;
}
#go-left img, #go-right img
{
	width:25px;
	height:25px;
}

.col-full-slide{
height: 100%;
    display: table;
}
.slide_deiv section
{
	/*padding:60px;*/
	width: 100%;
    height: 100%;
}
.dark_bg_left_to_right{
      padding: 60px;
      height: 100%;
      width: 100%;
  background: -webkit-linear-gradient(left, transparent 0% ,rgba(0,0,0,0.7) 25%, black 80%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, transparent 0% ,rgba(0,0,0,0.7) 25%, black 80%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, transparent 0% ,rgba(0,0,0,0.7) 25%, black 80%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, transparent 0% ,rgba(0,0,0,0.7) 25%, black 80%); /* Standard syntax (must be last) */
}
.dark_bg_right_to_left{
  padding: 60px;
      height: 100%;
      width: 100%;
  background: -webkit-linear-gradient(left, black 20% , rgba(0,0,0,0.7) 75%, transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, black 20% , rgba(0,0,0,0.7) 75%, transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, black 20% , rgba(0,0,0,0.7) 75%, transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, black 20% , rgba(0,0,0,0.7) 75%, transparent); /* Standard syntax (must be last) */
}
.fade_in_left {
  opacity: 1 !important;
  position: relative;
  -moz-animation-duration: 2s;
      -webkit-animation-duration: 2s;
      -moz-animation-name: slidein;
      -webkit-animation-name: slidein;
}
.fade_in_right {
  opacity: 1 !important;
  position: relative;
  -moz-animation-duration: 0.75s;
      -webkit-animation-duration: 0.75s;
      -moz-animation-name: slidein_right;
      -webkit-animation-name: slidein_right;
}
.fade_in_right_delay {
  opacity: 1 !important;
  position: relative;
  -moz-animation-duration: 1s;
      -webkit-animation-duration: 1s;
      -moz-animation-name: slidein_right;
      -webkit-animation-name: slidein_right;
}


@-moz-keyframes slidein {
      0% {
        left:-100%;
        /*width:300%;*/
      }
      
      100% {
        left:0%;
        /*width:100%;*/
      }
    }
    
    @-webkit-keyframes slidein {
      0% {
        left:-100%;
        /*width:300%;*/
      }
      
      100% {
        left:0%;
        /*width:100%;*/
      }
    }
    @-moz-keyframes slidein_right {
      0% {
        left:100%;
        /*width:300%;*/
      }
      
      100% {
        left:0%;
        /*width:100%;*/
      }
    }
    
    @-webkit-keyframes slidein_right {
      0% {
        left:100%;
        /*width:300%;*/
      }
      
      100% {
        left:0%;
        /*width:100%;*/
      }
    }
.showc_cnt {
   /* display: table-cell;*/
    width: 50%;
    vertical-align: middle;
  padding-left:30px;
}
.showc_cnt h3{
opacity: 0;
}
.showc_cnt p{
opacity: 0;
}
.showc_img {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    text-align: center;
}
.showc_img img{
	margin-left: 20px;
    margin-bottom: 20px;
	max-width: 500px;
    max-height: 500px;
}
.showc_cnt h3 img{
	float: none;
    margin-left: 0;
	max-width: 350px;
    max-height: 100px;
	margin-bottom:20px;
}
.logo_store {
    text-align: center;
    display: table;
    width: 100%;
}
.logo_store ul {
    list-style: none;
    display: table-cell;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 28px;
}
.logo_store ul li {
    display: inline-block;
}
.img_width_plystore__apple {
    width: 150px;
}
.flipcard {
	display:none;
    position: relative;
    width: 200px;
    height: 55px;
    perspective: 500px;
    margin-bottom: 50px;
}
.flipcard .front, .flipcard .back {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: all 0.5s ease-in;
    border: 1px solid #fff;
    padding: 10px;
    backface-visibility: hidden;
    border-radius: 5px;
    text-transform: uppercase;
}
.flipcard.h:hover .front, .flipcard.h.flip .front {
    transform: rotateY(180deg);
}

.app_link_apple{
      display: inline-block;
    border: 2px solid #fff;
    float: left;
    border-right: 1px solid #fff;
}

.apple_link{
      width: 70px;
    height: 60px;
   background-position: -10px 0px !important;
    float: left;
}
.apple_link2{
      width: 0px;
    float: left;
    height: 60px;
    background-position: -30px 3px !important;
    transition: all 0.3s;
}

.app_link_apple:hover .apple_link2{
  width: 115px;
}

.app_link_google{
      display: inline-block;
    border: 2px solid #fff;
    float: left;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.google_link{
      width: 70px;
    height: 60px;
   background-position: -10px 0px !important;
    float: left;
}
.google_link2{
      width: 0px;
    float: left;
    height: 60px;
    background-position: -30px 3px !important;
    transition: all 0.3s;
}

.app_link_google:hover .google_link2{
  width: 115px;
}
.app_link_web{
      display: inline-block;
    border: 2px solid #fff;
    float: left;
    border-left: 1px solid #fff;
}

.web_link{
      width: 70px;
    height: 60px;
   background-position: -10px 0px !important;
    float: left;
}
.web_link2{
      width: 0px;
    float: left;
    height: 60px;
    background-position: -30px 3px !important;
    transition: all 0.3s;
}

.app_link_web:hover .web_link2{
  width: 115px;
}
.click_app_links{
  opacity: 0;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ /// Homepage Work Sec   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */	

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Enterprise Page   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */	
.enterprise_banner
{
	width:100%;
	height:400px;
	padding:0;
}
.banner_shdw
{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.2);
}
.enterprise_banner .col-full{ height:100%;}
.enterprise_banner h1{
	text-align: center;
    color: #FFF;
	font-weight: bold;
    text-shadow: 2px 0px 2px #666;
	}
.enter_img_grid li{
	width: 25%;
    float: left;
    list-style: none;
    margin: 20px 0;
}
.enter_img_grid img{
	display:block;
	margin:0 auto;
    max-height: 55px;
}

#e_graphimg{ float:right;max-width: 40%;}

@media (max-width: 960px){
	.enter_img_grid li{
	width: 33.333%;
	height: 60px;
	}
}
@media (max-width: 768px){

  section.cl_h_sec7 h3 {
    font-size: 26px;
    line-height: 36px;
}
section.cl_h_sec7 h3 span{
  display: block;
}
.jg_bottom_cta{
    padding: 10px 20px;
    font-size: 16px;
}
	.enter_img_grid li{
	width: 50%;
	height: 60px;
	}
.enter_img_grid img{max-width: 80%;}
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   ///  Enterprise Page   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */	

@-webkit-keyframes flash {
    0%, 100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}
@-webkit-keyframes waves {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: none;
        transform: none
    }
}
.map_loc_point {
    position: absolute;
    width: 40px;
    height: 40px;
}
	
.map_loc_point::before{	
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: "";
    -webkit-animation: waves 2s ease-out infinite;
    animation: waves 2s ease-out infinite;
}

.map_loc_point::after {
	/*background-image: linear-gradient(-180deg,#adf038 0,#5eb70a 100%);
	
	position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    margin-left: -7px;
    border-radius: 50%;
    content: "";
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.3),inset 0 1px 0 0 rgba(255,255,255,.65);*/
}


#map_loc_point1::before{background-color: #307B99;}
#map_loc_point2::before{background-color: #476B9C;}
#map_loc_point3::before{background-color: #36AB8C;}
#map_loc_point4::before{background-color: #F6A14E;}
#map_loc_point5::before{background-color: #32F78E;}



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   Footer Section   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */	
#footer-wrap * {
    color: #FFF;
}
.prnt_footer_sec {
    background: rgba(22, 25, 29,0.9) url(http://click-labs.com/wp-content/uploads/2015/08/Footer-Image.jpg);
}
.prnt_footer_sec_overlay {
    height: 70%;
    width: 100%;
    background: rgba(0,0,0,0.92);
}
section#footer-widgets {
    border-bottom: 1px solid rgba(245, 245, 245, .1);
	padding-bottom:30px;
}
.footer_social_btn img{ margin-left:20px;}
.footer_social_btn > img:first-of-type{ margin-left:0px;}

#footer-widgets #text-10 {
    float: right;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   /// Footer Section   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* @@@@======================================================@@@   Main Contact PopUp   @@@======================================================@@@  */

.jg_contact_popup{ z-index:14 !important; left:0 !important;/*position:fixed !important;*/}
 .jg_contact_popup_inner{
	background-color: #FFF;
    color: #414141;
    padding: 30px;
    /* border: 8px dashed #F45C05; */
    border: 0;
    display: table;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	
}
#jg_contact_popup_close{
	font-size: 42px;
    font-weight: bold;
    display: inline-block;
    /*padding: 7px 2px 1px;*/
    line-height: 32px;
    color: #000;
    cursor: pointer;
    float: right;
    margin-top: -32px;
    margin-right: -20px;
   /* height: 35px;
    width: 35px;*/
    text-align: center;
    position: absolute;
    right: 40px;
    top: 40px;
	
	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari and Chrome */
    -o-transform: rotate(0deg); /* Opera */
    -moz-transform:rotate(0deg); /* Firefox */
    transform: rotate(0deg);
	
	-webkit-transition-duration: 0.4s; 
	-moz-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
	
	/*-webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);*/
}
#jg_contact_popup_close:hover{
	
	/*-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
	transform: rotate(180deg);*/
	
	/*-webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);*/
}

.rotate180
{
	-ms-transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
	 -o-transform: rotate(180deg) !important; /* Opera */
    -moz-transform:rotate(180deg) !important; /* Firefox */
	transform: rotate(180deg) !important;
}

#jg_cta_popup
{
}
.jg_cta_popup
{
	display:table;
	width: 100%;
}
.jg_contact_popup_L, .jg_contact_popup_R
{
	width:50%;
	display: table-cell;
    vertical-align: middle;
	padding: 20px 60px;
	/*float:left;*/
}
.jg_contact_popup_L
{
}
.jg_contact_popup_R
{
}
.jg_popup_map_bg
{
  max-width: 800px;
  height: 400px;
  background: url(http://click-labs.com/wp-content/uploads/2015/07/cta_map.png) 0 0 no-repeat;
  margin: 0 auto;
  position: relative;
  background-size: contain;
}

.jg_C_P_form{width: 450px;}
.jg_C_P_form ol{ list-style:none;margin-bottom: 0;}
.jg_C_P_form form{ margin-bottom:0;}
.jg_C_P_form li{margin-bottom: 10px;}
.jg_C_P_form li.textarea{margin-bottom: 12px;}

  .jg_Cform_title{
    color: #666;
  margin: 5px 10px 20px;
  font-weight: 700;
  font-size: 28px;
  padding: 10px;
  text-align: center;
  letter-spacing: 2px;
  }
  
  .jg_contact_popup_L p{
	font-size: 26px;
    color: #615656;
    line-height: 30px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 18px;
    margin-top: -40px;
    margin-right: 16%;
  }
  .jg_contact_popup_L h3{
	  text-align: right;
  font-size: 48px;
  color: #666;
  }
  
  .jg_contact_popup_R h3
  {
	color: #615656;
    font-size: 34px;
    line-height: 52px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  #Qsearch
  {
	  color: #3997D4;
  font-size: 26px;
  margin: 0 0 10px;
  }

.jgC_P_Form ol
{
	list-style:none;
	margin-left: 0;
  padding-left: 0;
}
.jgC_P_Form ol li
{
	  margin-bottom: 18px;
}
.jgC_P_Form input[type=text]
{
	width: 100%;
  height: 60px;
padding: 2px 12px;
font-size: 20px;
  color: #24362e;
  border: 1px solid #cdcdcd;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  
}
.jgC_P_Form input[type=email]
{
}
.jgC_P_Form input[type=submit]
{
}
.jgC_P_Form input[type=button]
{
	width: 100%;
    height: 60px;
    font-family: 'latolight';
    background: #FF4848;
    color: #FFF;
    padding: 5px 30px;
    border-radius: 2px;
    outline: 0;
    font-size: 22px;
    cursor: pointer;
     text-transform: uppercase; 
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    border: 0;
    font-weight: bold;
    line-height: 0px;
	    opacity: 0.8;
}
.jgC_P_Form input[type=button]:hover
{
	opacity:1;
}
.jgC_P_Form textarea
{
	width: 100%;
    height: 150px;
}
.jgC_P_Form input.uberfor{
	width: 57.5%;
  border: 0;
  border-bottom: 1px solid #CCC;
  font-size: 26px;
  line-height: 35px;
}

.jgC_P_Form_footer_txt
{
	line-height: 24px;
  margin-top: 35px;
  font-size: 18px;
}
.jg_contact_popup_R1
{
	 margin: 0 auto;
}

#loader
{
width: 70px;
  height: 62px;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  margin-left: -50px;
  margin-top: -62px;
  z-index: 2;
  overflow: auto;
}

@media only screen and (min-width: 1700px) {
	.map_loc_point {
	
}
.jg_popup_map_bg {
    width: 800px;
    height: 400px;
	}
	
	#map_loc_point1{   
    top: 87px;
    left: 63px;
	}
#map_loc_point2{
	top: 130px;
    left: 73px;
	}
#map_loc_point3{
	top: 91px;
    left: 314px;
	}
#map_loc_point4{
	top: 167px;
    left: 475px;
	}
#map_loc_point5{
	top: 277px;
    left: 621px;
	}
	
}
@media only screen and (min-width: 1700px) {
.jg_contact_popup_R1
{
	width:650px;
}	
}

@media only screen and (min-width: 1400px) {
.jg_contact_popup_R1
{
	/*width:650px;*/
}
}

@media only screen and (min-width: 1400px) and (max-width: 1700px) {
	
.jg_popup_map_bg {
    width: 650px;
    height: 360px;
	}	
	#map_loc_point1{   
    top: 76px;
    left: 55px;
	}
#map_loc_point2{
	 top: 115px;
    left: 64px;
	}
#map_loc_point3{
	top: 80px;
    left: 280px;
	}
#map_loc_point4{
	top: 149px;
    left: 426px;
	}
#map_loc_point5{
	top: 247px;
    left: 557px;
	}
	
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
.jg_popup_map_bg {
    width: 500px;
    height: 300px;
	}
	
	#map_loc_point1{   
        top: 54px;
    left: 38px;
	}
#map_loc_point2{
	top: 84px;
    left: 45px;
	}
#map_loc_point3{
	top: 57px;
    left: 211px;
	}
#map_loc_point4{
	top: 110px;
    left: 324px;
	}
#map_loc_point5{
	top: 186px;
    left: 425px;
	}
	
}

@media only screen and (max-width: 1400px){

.jg_contact_popup_R1
{
	width:450px;
}
.jg_contact_popup_R h3 {
  font-size: 32px;
  line-height: 44px;
}
#Qsearch {
  color: #3997D4;
  font-size: 24px;
}
.jgC_P_Form input.uberfor {
  width: 40%;
}
.jg_popup_map_bg
{ height:300px;}
.jg_contact_popup_L h3 {
  text-align: right;
  font-size: 34px;
}
}
@media only screen and (max-width: 1200px){
.map_loc_point {
	display:none !important;
}
}

@media only screen and (max-width: 1024px){
.jg_contact_popup_L{ display:none !important;}
.jg_contact_popup_L, .jg_contact_popup_R
{
	width:100%;
	display:block;
	}

}

@media only screen and (max-width: 800px){
	
/*#Qsearch input[type=text], #Qsearch{ font-size:24px;}*/

}

@media only screen and (max-width: 600px){
	.jg_contact_popup_R1 {
  width: 100%;
	}
	.jg_contact_popup_L, .jg_contact_popup_R
	{
		padding:10px;	
	}
	.jg_contact_popup_R h3 {
  
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
}
.jgC_P_Form input[type=text]
{
	height: 35px;
    font-size: 16px;
    padding: 1px 5px;
}
.jgC_P_Form ol li {
    margin-bottom: 8px;
}
.jgC_P_Form textarea {
    height: 100px;
}
.jgC_P_Form input[type=button]
{
	padding: 5px 15px;
  border-radius: 2px;
  outline: 0;
  font-size: 18PX;
}
#Qsearch {
  color: #3997D4;
  font-size: 18px;
}
.jgC_P_Form input.uberfor{
  font-size: 16px;
  line-height: 24px;
}
#jg_contact_popup_close {
    font-size: 28px;
}


}


/* @@@@======================================================@@@  ///  Main Contact PopUp   @@@======================================================@@@  */


@media only screen and (max-width: 1400px) {
.txw_home_grid_cnt{ top:53%;}

}

@media only screen and (max-width: 1140px) {
.h_banner h1 span {
    display: inline;
}

}

@media only screen and (max-width: 768px){
	
	#footer-widgets .block{
		margin-top:50px;
	}
	#footer-widgets > .block:first-of-type{
		margin-top:0px;
	}
	
	.j_h_products_sec
	{
		height:auto;
	}
	.j_h_products_slider {
    height: auto;
     position: relative; 
	}
	.j_h_products_slider_l {
    width: 100%;
    height: 300px;
	}
	.j_h_p_s_NP_btn {
    width: 100%;
    height: 60px;
    float: none;
     margin-top: 0px; 
    position: relative;
}
.j_h_products_slider_r {
    width: 100%;
    height: 100%;
    float: none;
}
	
	.slide_deiv section {
    padding: 0px;
	}
.dark_bg_right_to_left, .dark_bg_left_to_right{
  padding: 10px;
  background: rgba(0,0,0,0.6);
}
.col-full-slide {
    height: 100%;
    display: block;
}
.showc_cnt{
	display: block;
    width: 100%;
    vertical-align: middle;
     padding-left: 0px; 
}
.showc_img img {
    max-width: 100%;
    margin: 20px auto;
}
.showc_img {
    display: block;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}
.showc_img::after, col-full-slide::after
{
	content:"";
	clear:both;
	display:block;
	}
.slide_deiv section {
    overflow-y: auto;
}
.logo_store {
    display: block;
    width: 100%;
	margin-bottom: 50px;
}
.logo_store ul {
    display: block;
	padding: 10px;
}



	.cl_fixed_nav, .home .cl_fixed_nav
	{
		height: auto;
	}
	.cl_fixed_nav a#logo
	{
	width: 106px;
    margin-top: 4px;
	}
.cl_fixed_nav .cl_logo{ width:100% !important;}

.cl_fixed_nav #logo{
	margin-top: 4px;
    margin-bottom: 3px;
	}
	
.cl_fixed_nav h3.nav-toggle{
		background: url(http://nextjuggernaut.com/wp-content/themes/wpclicklabs/images/ico-menu.png) no-repeat;
    width: 25px;
    display: block;
    color: #424242;
    float: right;
    text-indent: -1000em;
    height: 14px;
    line-height: 0;
    padding: 0;
    margin: 0;
    margin-top: 12px;
	cursor:pointer;
	}
.marginBtm15{ margin-bottom:15px !important;}
.cl_fixed_nav #main-nav
{
	display:none;
	width: 80%;
    margin: 0 auto;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 1em 1.618em;
    float: none;
    clear: both;
    margin-bottom: 40px;
	list-style: none;
	text-align:center;
	
	-webkit-transition: none; 
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
     transition: none; 
}
.cl_fixed_nav ul.nav li
{
	float:none;
}
.jg_nav_cta_btn a{ 
    width: 145px;
    margin: 0 auto;
    margin-top: 8px;
	}

.h_banner h1{ font-size:26px;line-height: 32px;}
.h_banner h5 {
    font-size: 18px;
    line-height: 29px;
}
.jg_c_popup{
	padding: 12px 18px;
    font-size: 15px;
}
.jg_banner_gitbtn {
    margin-top: 20px;
}
article section {
    padding: 50px 0 30px 0;
}
.cl_h_sec1 p a, .btn_large a
{
	padding: 12px 10px;
    font-size: 10px;
    letter-spacing: 1px;
}
.cl_h_sec2 .col3One {
    width: 100%;
    float: none;
}
.cl_h_sec5 .work-list li {
    width: 33.33%;
}
#footer-widgets #text-10 {
    float: none;
}
	
}

@media only screen and (max-width: 480px){
	.j_h_products_slider_l {
    width: 100%;
    height: 200px;
	}
.j_clients_testi_msg li
{
    font-size: 16px;
    line-height: 24px;
}

.j_clients_testi_img li{
	width:50%;
}
.cl_h_sec5 .work-list li {
    width: 50%;
}
.jg_contact_popup{ }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
.cl_fixed_nav #logo {
    width: 150px;
}
.h_banner h1{
	font-size: 34px;
    line-height: 46px;
}
}