.img {
    border: 0 none;
    width: 100%;
}
.jumbotron {
    padding-bottom: 0;
    padding-top: 51px;
}
.jumbotron {
     background-color: white;
    color: whitesmoke;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 51px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
