.main{
border: 1px solid #ccc;
padding: 5px;
margin: 0 auto;
height: 1108px;
background-color: black;
Width: 980px;
}
.header
{
padding: 5px 10px;
background-color: #black;
height: 103px;
}
.logo{
width:20%;
float:left;
}
.logo img{
height: 103px;
padding: 0;
width: 145px;
}
.icon{
float: left;
}
.img5 img{
float:left;
padding: 3px;
}
.nav{
float: left;
width:60%;
padding: 31px 36px;
min-height: 45px;
}
.nav ul{
color: yellow;
 float: left;
 list-style: outside none none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 90%;
}
.nav ul li {
float: left;
text-decoration:none;

}
.nav ul li a{
color: yellow;
    float: left;
    padding: 10px 15px;
    text-decoration: none;

}
.nav ul li a:hover{
background-color:red;
}
.nav ul li:hover ul
{
display:block !important;
background-color:#AF4482;
}
.nav ul li ul
{
margin: 0;
    padding: 0;
    position: absolute;
    top: 40px;
    width: 110px;
    z-index: 99999;
}

.nav ul li ul li{
margin:0px;
float: none;
width: 100%;
color:yellow;
}
.nav ul li ul li a
{
float:none;
display:block;
}
.nav ul li ul li:hover{
background: black;
}
.banner{
margin:0px;
width:100%;
height:230px;
}
.banner img{
width:100%;
height:230px;
}
.inner-box{
width:100%;
height:150px;
background-color:black;
}
.left{
float:left;
width:60%;
height:198px;
}
.images1 img{
height: 234px; 
width: 582px;
}
.mid{
float:left;
background-color: #81924E;
height: 234px; 
width: 40%;
}


.mid-box{
width:100%;
height:150px;
background-color:black;
}
.left111{
float:left;
background-color:black;
width:33%;
height:198px;
}
.images111 img{
height: 194px;
width: 582px;
}
.mid111{
float:left;
background-color:black;
width:33%;
height:198px;
}
.images222 img{
height: 194px;
width: 582px;
}
.right111{
float:left;
background-color:black;
width:34%;
height:198px;
}
.images333 img{
height: 194px;
width: 334px;
}

.outer-box{
width:100%;
height:150px;
background-color:black;
}
.left1{
float:left;
background-color:#BCC045;
width:40%;
height:232px;
}


.mid1{
float:left;
height: 234px; 
width: 40%;
}
.images22 img{
height: 233px; 
width: 582px;
}

.footer{
clear:both;
height:40px;
background-color:black;
}


