.main
{
width:980px;
border:1px solid #ccc;
margin:0 auto;
background-color:rgb(225, 195, 247);
}
.header
{
height: 224px;
padding: 18px;
width: 96.5%;
}
.h{
text-align:center;
}
.h1
{
float:left;
width:74%;
}
.h1 h2
{
font-size:24px;
}
.h1 p
{
font-size:17px;
}
.h1 p:hover
{
color: green;
}
.h2
{
float:right;
width:17%;
}
.h2 img
{
height: 160px;
width: 160px;
}
.profile
{
height: 100px;
padding: 22px 18px;
width: 96.5%
}

.p2
 {
font-size:19px;
}
.middle
{
height: 110px;
padding: 18px;
width: 96.5%;
}

.m1 p
{
font-size:24px;
}
.m2{
font-size:19px;
}
.table
{
height: 168px;
padding: 18px;
width: 96.5%;
}

.t2 table
{
width:100%;
}
.information
{
height: 140px;
padding: 18px;
width: 96.5%;
}
.i1{
 padding: 10px 1px
}
.i2{
font-size:19px;
}
.Strength{
height: 175px;
padding: 18px;
width: 96.5%;
}
.s1{
font-size:18px;
}
.footer
{
padding: 18px;
width: 96.5%;
}